# Notebook to explore the tables created by dune_source using the default config in this repo
Before running this notebook, run the pipeline to create the tables in the duckdb database.:
```
python duckdb_pipeline.py
```
After running the pipeline, the duckdb database will be populated with the following tables:
- dex_volume
- y2k_price_data
- y2k_price_data_no_pk (no primary key), data is append-only
- custom_sql

Important: make sure to close the connection to the duckdb database after running the notebook, if you don't, the connection will be locked and you won't be able to run the pipeline again.

In [25]:
import duckdb
db = duckdb.connect("dune_source.duckdb")

In [22]:
# dex_volume
db.execute("select * from dune_queries.dex_volume").fetchdf()

,project,_col1,usd_volume,_dlt_load_id,_dlt_id
0,0x-API,2025-02-02 00:00:00.000 UTC,4.865948e+07,1740548645.830202,7Yub2BYWB5zVDg
1,0x-API,2025-02-03 00:00:00.000 UTC,8.000793e+07,1740548645.830202,HT/5TuG7nu2xEw
2,0x-API,2025-02-07 00:00:00.000 UTC,5.261836e+07,1740548645.830202,YqLSKCKuhSm7Ag
3,0x-API,2025-02-21 00:00:00.000 UTC,2.445734e+07,1740548645.830202,oXLi08uE+MXxuA
4,0x-API,2025-02-25 00:00:00.000 UTC,3.525835e+07,1740548645.830202,ThkecBfoOdhyTg
...,...,...,...,...,...
4160,zebra,2025-02-20 00:00:00.000 UTC,6.284988e+03,1740548645.830202,uDuK7nCNdDP1pw
4161,zipswap,2025-02-08 00:00:00.000 UTC,6.014494e+02,1740548645.830202,YKE+BA7l+19oBg
4162,zipswap,2025-02-22 00:00:00.000 UTC,4.717681e+02,1740548645.830202,1STnrqLvwN0l3g
4163,zkswap_finance,2025-02-12 00:00:00.000 UTC,1.265912e+06,1740548645.830202,N7hPUhZa8T/slA
4164,zyberswap,2025-02-24 00:00:00.000 UTC,5.798593e+02,1740548645.830202,sYjFeSaPzbvJug

In [26]:
db.execute("select * from dune_queries.dex_volume_incremental").fetchdf()

,project,date,usd_volume,_dlt_load_id,_dlt_id
0,burrbear,2025-02-15 00:00:00.000 UTC,2.228761e+05,1740550198.279079,QKewcQwuN3wj9Q
1,balancer,2025-02-17 00:00:00.000 UTC,6.900844e+07,1740550198.279079,tLB+v/g8LdXXiw
2,sushiswap,2025-02-18 00:00:00.000 UTC,2.463174e+07,1740550198.279079,IWFp1pPfIS3KBg
3,camelot,2025-01-16 00:00:00.000 UTC,1.144769e+08,1740550198.279079,GNbi4jkpp0fs3g
4,thena,2025-01-18 00:00:00.000 UTC,1.452080e+08,1740550198.279079,0ATFobd0jQi0pw
...,...,...,...,...,...
7851,dooar,2025-01-31 00:00:00.000 UTC,2.335483e+05,1740550198.279079,/4c5INA15RKqoA
7852,woofi,2025-02-21 00:00:00.000 UTC,2.320997e+06,1740550198.279079,EOXZlaqkNTry0Q
7853,torus,2025-01-28 00:00:00.000 UTC,5.270593e+00,1740550198.279079,X1d24iJq2pfXqw
7854,torus,2025-01-31 00:00:00.000 UTC,4.626088e+00,1740550198.279079,BTfT7gwgEnaPkw
7855,yaka,2025-01-12 00:00:00.000 UTC,3.429058e+04,1740550198.279079,JLsWldWN6xK4Iw

In [11]:
# y2k_price_data
db.execute("select * from dune_queries.y2k_price_data").fetchdf()

,timestamp,year,month,blockchain,contract_address,symbol,decimals,price,_dlt_load_id,_dlt_id
0,2022-09-16 00:00:00.000 UTC,2022,9,ethereum,0x4efdc844a4b860cd701844a7cf00bca610517647,Y2K,18,0.000125,1740548645.830202,xVF03BWqqyl/rg
1,2022-11-02 00:00:00.000 UTC,2022,11,ethereum,0x4efdc844a4b860cd701844a7cf00bca610517647,Y2K,18,0.000030,1740548645.830202,cvMhbxeM4MI49w
2,2022-11-11 00:00:00.000 UTC,2022,11,ethereum,0x4efdc844a4b860cd701844a7cf00bca610517647,Y2K,18,0.000030,1740548645.830202,qRZ+4WSWkpZHlA
3,2023-01-12 00:00:00.000 UTC,2023,1,arbitrum,0x65c936f008bc34fe819bce9fa5afd9dc2d49977f,Y2K,18,0.687946,1740548645.830202,WB7Z9I9/HiMhTw
4,2023-01-20 00:00:00.000 UTC,2023,1,arbitrum,0x65c936f008bc34fe819bce9fa5afd9dc2d49977f,Y2K,18,0.646961,1740548645.830202,3PSwvVCrLWHWkA
...,...,...,...,...,...,...,...,...,...,...
4458,2024-12-21 00:00:00.000 UTC,2024,12,arbitrum,0x65c936f008bc34fe819bce9fa5afd9dc2d49977f,Y2K,18,0.924233,1740548645.830202,pEiwDOMAE8+TYw
4459,2024-12-27 00:00:00.000 UTC,2024,12,arbitrum,0x65c936f008bc34fe819bce9fa5afd9dc2d49977f,Y2K,18,0.575739,1740548645.830202,BlDkAC+hOYXbUw
4460,2025-01-06 00:00:00.000 UTC,2025,1,arbitrum,0x65c936f008bc34fe819bce9fa5afd9dc2d49977f,Y2K,18,0.706050,1740548645.830202,0vPKZ96G21ugXg
4461,2025-01-27 00:00:00.000 UTC,2025,1,arbitrum,0x65c936f008bc34fe819bce9fa5afd9dc2d49977f,Y2K,18,0.382923,1740548645.830202,4RXZbVDADNONPA
4462,2025-02-11 00:00:00.000 UTC,2025,2,arbitrum,0x65c936f008bc34fe819bce9fa5afd9dc2d49977f,Y2K,18,0.198489,1740548645.830202,7LnKTU2m6QBk2A

In [12]:
# y2k_price_data_no_pk (no primary key), data is append-only
db.execute("select * from dune_queries.y2k_price_data_no_pk").fetchdf()

,timestamp,year,month,blockchain,contract_address,symbol,decimals,price,_dlt_load_id,_dlt_id
0,2023-09-01 00:00:00.000 UTC,2023,9,arbitrum,0x65c936f008bc34fe819bce9fa5afd9dc2d49977f,Y2K,18,4.463230e-01,1740548645.830202,nCDfcPHUn6jbTw
1,2023-09-02 00:00:00.000 UTC,2023,9,arbitrum,0x65c936f008bc34fe819bce9fa5afd9dc2d49977f,Y2K,18,4.537683e-01,1740548645.830202,fwx0SmMP39f0nA
2,2023-09-03 00:00:00.000 UTC,2023,9,arbitrum,0x65c936f008bc34fe819bce9fa5afd9dc2d49977f,Y2K,18,4.445162e-01,1740548645.830202,rfT+hZEwiFowPw
3,2023-09-04 00:00:00.000 UTC,2023,9,arbitrum,0x65c936f008bc34fe819bce9fa5afd9dc2d49977f,Y2K,18,4.354635e-01,1740548645.830202,fx/GHlj19Uk6AA
4,2023-09-05 00:00:00.000 UTC,2023,9,arbitrum,0x65c936f008bc34fe819bce9fa5afd9dc2d49977f,Y2K,18,4.270150e-01,1740548645.830202,9dNKdW/S3xnmvA
...,...,...,...,...,...,...,...,...,...,...
4458,2024-11-24 00:00:00.000 UTC,2024,11,ethereum,0xd15c393f2fbd37bf041526df0a9b90d6a99e4d0e,Y2K,18,1.548434e-11,1740548645.830202,UsyvFwc+Yira1Q
4459,2024-11-25 00:00:00.000 UTC,2024,11,ethereum,0xd15c393f2fbd37bf041526df0a9b90d6a99e4d0e,Y2K,18,1.548434e-11,1740548645.830202,7HV94BWVjPjGTg
4460,2024-11-26 00:00:00.000 UTC,2024,11,ethereum,0xd15c393f2fbd37bf041526df0a9b90d6a99e4d0e,Y2K,18,1.548434e-11,1740548645.830202,3qRp1/5AAnd74w
4461,2024-11-27 00:00:00.000 UTC,2024,11,ethereum,0xd15c393f2fbd37bf041526df0a9b90d6a99e4d0e,Y2K,18,1.548434e-11,1740548645.830202,cFvGlCzu57GXrA
4462,2024-11-28 00:00:00.000 UTC,2024,11,ethereum,0xd15c393f2fbd37bf041526df0a9b90d6a99e4d0e,Y2K,18,1.548434e-11,1740548645.830202,TYfviqCn/Ylqig

In [13]:
# custom_sql
db.execute("select * from dune_queries.custom_sql").fetchdf()

,timestamp,blockchain,contract_address,symbol,price,_dlt_load_id,_dlt_id
0,2024-03-15 00:00:00.000 UTC,base,0x532f27101965dd16442e59d40670faf5ebb142e4,BRETT,0.041759,1740548645.830202,lzLB3JM+QKsShQ
1,2024-03-16 00:00:00.000 UTC,base,0x532f27101965dd16442e59d40670faf5ebb142e4,BRETT,0.041509,1740548645.830202,jHgTE2Ijoqzi9Q
2,2024-04-23 00:00:00.000 UTC,base,0x532f27101965dd16442e59d40670faf5ebb142e4,BRETT,0.064760,1740548645.830202,Kjl9XNuU6hHW1g
3,2024-05-02 00:00:00.000 UTC,base,0x532f27101965dd16442e59d40670faf5ebb142e4,BRETT,0.032190,1740548645.830202,fYhqbV12wOWKjQ
4,2024-05-03 00:00:00.000 UTC,base,0x532f27101965dd16442e59d40670faf5ebb142e4,BRETT,0.037632,1740548645.830202,TSpJiiXsixn9Dg
...,...,...,...,...,...,...,...
362,2025-02-02 00:00:00.000 UTC,base,0x532f27101965dd16442e59d40670faf5ebb142e4,BRETT,0.065002,1740548645.830202,U19Wi9eGZjiLqA
363,2025-02-03 00:00:00.000 UTC,base,0x532f27101965dd16442e59d40670faf5ebb142e4,BRETT,0.053039,1740548645.830202,QoqHZtDTO1E5Gw
364,2025-02-07 00:00:00.000 UTC,base,0x532f27101965dd16442e59d40670faf5ebb142e4,BRETT,0.046418,1740548645.830202,9Y88EAZYDwWuzw
365,2025-02-21 00:00:00.000 UTC,base,0x532f27101965dd16442e59d40670faf5ebb142e4,BRETT,0.050793,1740548645.830202,AVkHLzSaUYVG+g
366,2025-02-25 00:00:00.000 UTC,base,0x532f27101965dd16442e59d40670faf5ebb142e4,BRETT,0.039021,1740548645.830202,ZXFCH7YFgHPdNQ

In [24]:
# close the connection
db.close()